*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

.full-page{
    position: absolute;
    width: 100%;
    top:0px;
    left: 0px;
}

.full_page{
    /* position: relative; */
    max-width: 1920px;
    margin: 0 auto;
    height: 90px;
}


.responsiveHeaderHead p{
    color: grey;
    font-size: 20px;
    font-weight: 1000;
    margin: 0px;
}

.responsiveHeader .links{
    display: flex;
    flex-direction: column;
}

.responsiveHeader .links ul{
    list-style : none;
}

.responsiveHeader .links ul a{
    color: grey;
    text-decoration: none;
    font-size: 19px;
}

.responsiveHeader .links ul li{
    margin: 20px;
}

.responsiveHeaderFooter{
    width: 100%;
    text-align: center;
    color: grey;
}
.responsiveHeaderFooter img{
    width: 110px;
}


.header{
    position: fixed;
    top:0;
    /* bottom:100%; */
    display: flex;
    /* height:700px; */
    width: 100%;
    z-index: 2;
    background: white;
    border-bottom: solid 1px black;
}

.company-details{
    position: relative;
    width: 40%;
    display: flex;
    color: #FF8341;
    justify-content: center;
    align-items: center;
}

.company-details img {
    width: 35px;
    height: 40px;
    margin-right: 20px;
}


 
.links{
    position: relative;
    width: 50%;
}

.app{
    color: #FF8341;
}

.header ul {
    display: flex;
    justify-content: flex-end;
}

.header ul li{
    list-style: none;
    font-size: 19px;
    margin: 14px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.header ul a{
    font-size: 20px;
    color: #8F8F8F;
    text-decoration: none;
}




/* main */

.main{
    position: relative;
}

.backgroundPic{
    position: relative;
    width: 100%;
    background-image: url("../images/bg7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 7%;
}

.phone_pic{
    position: relative;
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
}

.phone_pic img{
    width: 400px;
}



.right-details{
    position: relative;
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
}

.info_div{
    color: #FFFFFF;
    width: 80%;
    top: 800px;
}

.info1{
    font-size: 45px;
    margin-bottom: 30px;
    margin-top: 150px;
}

.info2{
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.info3{
    font-size: 25px;
    margin: 0px;
    margin-bottom: 70px;
}

.appstore img{
    position: relative;
    width: 80%;
    
}


.site-information{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.about-us{
    color: black;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.headerp{
    color: #FF883E;
    font-weight: bolder;
}

.want-more{
    color: black;
    font-size: 30px;
    text-align: center;
    width: 100%;
      padding-top: 40px;
    padding-bottom: 40px;
}


.want-more-images{
    position: relative;
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.want-more-info{
    position: relative;
    width: 250px;
    margin: 5%;
    margin-top: 0%;    
}

.want-more-text-header{
    color: #FF9F22;
    font-size: 25px;
    margin-bottom: 0px;
}

.faqs{
      color: black;
    font-size: 30px;
    text-align: center;
    width: 100%;
      padding-top: 40px;
    padding-bottom: 40px;
}

.faqs-header{
    color: #FF883E;
    font-weight: bolder;
    width: 100%;
}

.faqs-div{
    display: flex;
    width: 70%;
    margin: auto;
    position: relative;
    justify-content: space-between;
    text-align: left;
}

.questionsAsked{
        width: 80%;
        position: relative;
}

.faq_dates{
    position: relative;
    font-size :16px;
    text-align: left;
}

.faqs-div p {
    margin: 15px;
}

.socials{
    color: black;
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.social-icons{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}


.icon_div{
    font-size: 18px;
}


/* footer */

.footer{
    background-color : #2E2E2F;
    width: 100%;
    color: white;
    display: grid;
    place-items: center;
}

.footer_div{
    display: flex;
}

.footer_div p{
    margin-right: 10px;
    padding: 10px;
}

.start-now{
    background-color: #8867BA;
    border-radius: 30px;
}

@media (max-width : 730px) {
    .header{
        position: relative;
    }
    .backgroundPic{
        flex-direction: column;
        padding: 5%;
    }

    .phone_pic{
        margin-top: 80px;
        width: 100%;
        margin: auto;
    }

    .phone_pic img{
        width: 100%;
    }

    .right-details{
        width: 100%;
    }

    .info1{
        margin: 0px;
    }

    .info3{
        margin-bottom: 20px;
    }


    .info_div{
        width: 90%;
        margin: auto;
    }

    .appstore{
        width: 90%;
        margin: auto;
    }

    .want-more-images{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .faqs-div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
}

@media (max-width: 610px) {
    .footer_div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_div *{
        margin: 0px;
    }
    .start-now{
        width : 130px;
        height: 40px;
        display: flex;
        font-weight: 1000;
    }
}